.asklo-hero {
  background-color: var(--primarycolor);
  padding: 50px;
  position: relative;
  overflow: hidden;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-text {
  width: 50%;
  color: white;
}

.hero-subtitle {
  font-size: 16px;
  color: #bfff00;
  margin-bottom: 20px;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
}

.highlight {
  color: #b2df1f;
}

.hero-description {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 75px;
  max-width: 540px;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.start-free-btn {
  background-color: #b2df1f;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 4px;
  font-size: 16px;
  display: inline-block;
  transition: all 0.3s ease;
}

.start-free-btn:hover {
  background-color: #80af00;
  transform: translateY(-2px);
}

.shopify-btn {
  display: inline-block;
}

.shopify-btn:hover {
  display: inline-block;
  transform: translateY(-2px);
}

.shopify-btn img {
  height: 42px;
}

.hero-image {
  width: 45%;
  position: relative;
}

.hero-image:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 39%;
  transform: translate(-50%, -48%);
  width: 109%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    #d196ffcf 10%,
    rgba(255, 255, 255, 0) 66%
  );
  z-index: 1;
  pointer-events: none;
}

.hero-image img {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 100%;
}

@media (max-width: 992px) {
  .hero-content {
    flex-direction: column;
  }

  .hero-text,
  .hero-image {
    width: 100%;
    text-align: center;
  }

  .hero-text {
    margin-bottom: 40px;
  }

  .hero-description {
    margin-left: auto;
    margin-right: auto;
  }

  .hero-buttons {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 36px;
  }

  .hero-buttons {
    flex-direction: column;
  }
}

/* Logo Section CSS */
.logos-section {
  padding: 62px;
}

.logos-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.logos-container img {
  max-width: 100px;
  height: auto;
}

@media (max-width: 767px) {
  .logos-container {
    display: grid;
    gap: 10px;
  }

  .logos-container img:nth-child(7) {
    grid-column: span 2;
    justify-self: center;
  }

  .logos-section {
    padding: 62px 20px;
  }
}

/* TravelPro Case Study Section */
.travelpro-section {
  padding: 0 50px;
  margin-bottom: 130px;
}

.travelpro-container {
  display: flex;
}
.case-study-card {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  max-width: 1100px;
  background-color: var(--primarycolor);
  color: white;
  border-radius: 20px;
  overflow: hidden;
  padding: 18px;
}

.gradient-overlay {
  position: absolute;
  top: -90px;
  left: -200px;
  width: 68%;
  height: 160%;
  background: radial-gradient(circle at top left, white, transparent);
  border-radius: 50%;
  filter: blur(50px);
  opacity: 0.8;
}

.image-wrapper {
  width: 50%;
  position: relative;
  z-index: 10;
}

.image-wrapper img {
  width: 100%;
  border-radius: 12px;
}

.travel-pro-img img {
  margin-bottom: 30px;
}

.travel-pro-img p {
  margin-bottom: 34px;
  color: var(--neon-green);
  font-size: 20px;
  line-height: 32px;
}

.highlight-text {
  font-size: 40px;
  font-weight: 700;
  color: #bce33b;
}

.footer-link {
  margin-top: 40px;
}

.stats-text {
  font-size: 16px;
  font-weight: 400;
}

.content-wrapper {
  width: 50%;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.content-wrapper h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.content-wrapper p {
  margin-top: 8px;
}

.stats-divider {
  width: 100%;
  background: var(--whitecolor);
  height: 1px;
  margin: 35px 0;
}

.footer-link a {
  color: #a3e635;
  font-weight: 500;
  text-decoration: underline;
}

.footer-link a i {
  margin-left: 5px;
}

.footer-link a:hover {
  color: white;
}

@media (max-width: 767px) {
  .stats-divider {
    width: 100%;
    display: block;
    background: var(--whitecolor);
    height: 1px;
    margin: 25px 0;
  }

  .travelpro-container {
    display: flex;
    flex-direction: column;
  }

  .image-wrapper {
    width: 100%;
  }

  .content-wrapper {
    width: 100%;
    padding: 0px;
    margin-top: 30px;
  }

  .gradient-overlay {
    display: none;
  }

  .footer-link {
    margin-bottom: 30px;
  }

  .travelpro-section {
    padding: 0 20px;
    margin-bottom: 80px;
  }
}

/* Q&A Boost Conversion Section */
.boost-conversion-section {
  padding: 20px 50px;
}

.boost-conversion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 36px;
  padding: 40px 56px;
  text-align: center;
  background-color: #f9f9ff;
}

.qna-heading h2 {
  font-size: 28px;
  font-weight: 400;
  color: #222;
  padding: 0px 190px;
  margin-bottom: 56px;
  text-align: center;
}

.boost-highlight {
  color: #a2d63a;
}

.qna-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.qna-text {
  flex: 1;
  text-align: left;
}

.qna-text h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  color: #000;
}

.qna-text p {
  font-size: 16px;
  color: #444;
  margin: 10px 0;
}

.qna-text ul {
  list-style: none;
  padding: 0;
}

.qna-text ul li {
  font-size: 16px;
  color: #444;
  list-style-type: disc;
  margin-bottom: 8px;
  position: relative;
}

.qna-text ul li::before {
  font-weight: bold;
  position: absolute;
  left: 0;
}

.qna-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.qna-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .qna-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .qna-heading h2 {
    font-size: 22px;
    padding: 0px 90px;
  }

  .qna-text,
  .qna-image {
    flex: none;
    width: 100%;
  }

  .qna-text ul {
    text-align: left;
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .qna-heading h2 {
    font-size: 22px;
    padding: 0px;
  }

  .boost-conversion-container {
    padding: 20px 26px;
  }

  .boost-conversion-section {
    padding: 20px 20px;
  }

  .qna-text h3 {
    font-size: 20px;
  }

  .qna-text p,
  .qna-text ul li {
    font-size: 14px;
  }
}

/* Benefits Card Section */
.benefits-section {
  padding: 100px 50px;
  text-align: center;
}
.benefits-heading {
  font-size: 28px;
  margin-bottom: 40px;
}
.highlight {
  color: #a3d900;
}
.benefits-cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.benefit-card {
  width: 32%;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.benefit-top {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1c1a9a;
  position: relative;
}
.benefit-top::before {
  content: "";
  position: absolute;
  width: 208px;
  height: 135px;
  background: radial-gradient(circle, #b2eafe, #a8ffc2, #f5fec2, #d58eff);
  border-radius: 50%;
  filter: blur(35px);
  top: 54%;
  left: 50%;
  transform: translate(-50%, -55%);
}
.benefit-icon img {
  width: 80px;
  height: 80px;
  position: relative;
  z-index: 2;
}
.benefit-bottom {
  padding: 20px;
}
.benefit-bottom h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #000;
}
.benefit-bottom p {
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

@media (max-width: 1099px) and (min-width: 768px) {
  .benefits-cards {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .benefits-section {
    padding: 70px 20px;
  }

  .benefit-card {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

/* App Integration Section */
.integration-section {
  background: #1c1a9a;
  padding: 60px 50px;
  text-align: center;
  color: white;
  margin-top: 100px;
}
.integration-heading {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 500;
}
.integration-subtext {
  margin-bottom: 40px;
  font-size: 16px;
  padding: 0 30%;
  line-height: 24px;
}
.integration-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.integration-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  text-align: left;
  max-width: 300px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}
.integration-card h3,
.integration-card p {
  color: black;
  padding-bottom: 8px;
}

.integration-card h3 {
  font-size: 20px;
  font-weight: 500;
}
.integration-card p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}
.integration-logo {
  width: 40px;
  height: 40px;
  margin-bottom: 22px;
}
.integration-link {
  color: #1c1a9a;
  font-weight: bold;
  text-decoration: none;
  margin-top: auto;
}
.integration-link:hover {
  color: #393939;
  transform: translateY(-2px);
}

@media (max-width: 767px) {
  .integration-section {
    padding: 60px 20px;
  }

  .integration-subtext {
    padding: 0 20%;
  }

  .integration-cards {
    flex-direction: column;
  }

  .integration-card {
    width: 100%;
    max-width: none;
  }
}

/* Pricing Section */
.pricing-section {
  padding: 80px 50px;
  margin-top: 120px;
}

.price-btn-sec {
  color: var(--whitecolor) !important;
  background-color: #2020b3;
}

.pricing-header {
  text-align: center;
  margin-bottom: 56px;
}

.pricing-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000;
}

.pricing-title .highlight {
  color: #bfff00;
}

.pricing-subtitle {
  font-size: 18px;
  color: #666;
}

.pricing-banner {
  background-color: var(--primarycolor);
  color: white;
  text-align: center;
  padding: 8px;
  border-radius: 100px;
  margin-bottom: 9px;
}

.pricing-table {
  display: flex;
  gap: 9px;
  border-radius: 10px;
  overflow: hidden;
}

.pricing-left-item {
  display: flex;
  gap: 9px;
}

.pricing-features-column {
  background-color: #f9f9ff;
  border: 1px solid #f7f7f7;
  border-radius: 36px;
}

.pricing-plan-containers {
  display: flex;
  gap: 9px;
}

.pricing-plan-column {
  background-color: #f9f9ff;
  border: 1px solid #f7f7f7;
  border-radius: 36px;
}

.pricing-plan-column:last-child {
  border-right: none;
}

.plan-header {
  padding: 20px;
  text-align: center;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 22px;
}

.pay-as-you-go .plan-header {
  margin-top: 66px;
}

.plan-header h3 {
  font-size: 20px;
  font-weight: 400;
}

.plan-type {
  font-size: 16px;
  font-weight: 500;
  color: var(--primarycolor);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.plan-name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.plan-price {
  margin-bottom: 10px;
}

.price {
  font-size: 28px;
  font-weight: 700;
  color: #111;
}

.period {
  font-size: 16px;
  color: #888;
}

.plan-limit {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.trial-button {
  display: inline-block;
  padding: 8px 15px;
  border: 1px solid #2020b3;
  border-radius: 4px;
  color: #2020b3;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.trial-button:hover {
  background-color: #2020b3;
  color: white;
}

.features-list {
  padding: 20px 0;
}

.feature-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
}

.feature-icon {
  margin-right: 15px;
  color: #2020b3;
  width: 24px;
  height: 24px;
}

.plan-features {
  padding: 20px 0;
}

.plan-feature {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
  font-size: 14px;
}

.check-icon {
  color: #4caf50;
  font-size: 18px;
}

.pricing-footer {
  margin-top: 20px;
  text-align: left;
  font-size: 14px;
  color: #666;
  font-style: italic;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .pricing-table {
    flex-wrap: wrap;
  }

  .pricing-features-column {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #eee;
  }

  .pricing-plan-column {
    width: 50%;
  }

  .feature-item {
    padding: 10px 15px;
  }

  .plan-feature {
    height: auto;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .pricing-plan-column {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #eee;
  }

  .pricing-plan-column:last-child {
    border-bottom: none;
  }
}

/* Enterprise Section */
.enterprise-section {
  padding: 0px 20px;
  overflow: hidden;
  margin-bottom: 100px;
}

.enterprise-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: linear-gradient(
    90deg,
    #f3e5ff 0%,
    #fffde6 40%,
    #e6ffed 70%,
    #e6f7ff 100%
  );
  border-radius: 20px;
  overflow: hidden;
}

.enterprise-content {
  flex: 1;
  padding: 40px;
}

.enterprise-content h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 16px;
  font-weight: 600;
}

.enterprise-content p {
  font-size: 16px;
  color: #555;
  margin-bottom: 4px;
  line-height: 1.5;
}

.demo-button {
  display: inline-block;
  background-color: #2e22a0;
  color: white;
  padding: 12px 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  margin-top: 20px;
  font-size: 14px;
}

.demo-button:hover {
  background-color: #231b80;
}

.enterprise-image {
  flex: 1;
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding-top: 51px;
}

.enterprise-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 0;
  vertical-align: bottom;
}

@media (max-width: 768px) {
  .enterprise-container {
    flex-direction: column;
  }

  .enterprise-content {
    text-align: center;
    padding: 30px 20px;
  }

  .enterprise-image {
    width: 100%;
  }
}

/* FAQ Accordion Section  */
.faq-section {
  padding: 100px 50px;
  font-family: "Arial", sans-serif;
}

.faq-container {
  max-width: 1000px;
  margin: 0 auto;
}

.faq-title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #333;
}

.faq-title .highlight {
  color: #abd373;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accordion-item {
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: #f8f8f8;
}

.accordion-item.active {
  background-color: #2a3190;
  color: white;
}

.accordion-header {
  padding: 22px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-header h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
  max-width: 84%;
}

.accordion-toggle {
  width: 24px;
  height: 24px;
  position: relative;
  border-radius: 4px;
  border: 1px solid currentColor;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.accordion-toggle span {
  position: absolute;
  background-color: currentColor;
  transition: all 0.3s ease;
}

.accordion-toggle.plus span:first-child {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
}

.accordion-toggle.plus span:first-child {
  top: 50%;
  left: 4px;
  width: 63%;
  height: 2px;
  transform: translateY(-50%);
}

.accordion-toggle.plus span:last-child {
  top: 4px;
  left: 50%;
  width: 2px;
  height: 65%;
  transform: translateX(-50%);
}
.accordion-toggle.minus span:last-child {
  display: none;
}

.accordion-content {
  padding: 0 30px 22px;
  display: none;
  line-height: 1.6;
}

.accordion-content p {
  margin: 0;
  font-size: 15px;
}

.accordion-item.active .accordion-toggle {
  border-color: white;
}

.accordion-item.active .accordion-toggle span {
  background-color: white;
}

.accordion-item.active .accordion-content {
  display: block;
}

@media (max-width: 768px) {
  .faq-section {
    padding: 70px 20px;
  }

  .accordion-header {
    padding: 18px 20px;
  }

  .accordion-content {
    padding: 0 20px 18px;
  }
}

/* Askio CTA Section  */
.askio-cta-section {
  background-color: #2a3190;
  color: white;
  padding: 60px 50px;
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  margin-top: 200px;
}

.cta-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  width: 100%;
}

.cta-content {
  max-width: 430px;
  z-index: 3;
}

.cta-title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 40px;
}

.cta-title .highlight {
  color: #bfe54d;
}

.cta-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  opacity: 0.9;
}

.cta-button {
  display: inline-block;
  background-color: #bfe54d;
  color: #2a3190;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: #d0f266;
  transform: translateY(-2px);
}

.cta-image-container {
  position: absolute;
  right: 90px;
  top: 27%;
  transform: translateY(-50%);
  height: auto;
  z-index: 999;
}

.cta-image-container img {
  width: 95%;
}

@media (max-width: 1200px) {
  .cta-image-container {
    right: 50px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
}

@media (max-width: 1024px) {
  .askio-cta-section {
    padding: 40px 20px;
    flex-direction: column-reverse;
  }
  .cta-container {
    flex-direction: column;
    text-align: center;
  }

  .cta-content {
    max-width: 100%;
  }

  .cta-image-container {
    position: relative;
    right: 0;
    top: auto;
    transform: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .cta-image {
    max-width: 90%;
  }
}
